@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-font {
    font-family: "Star Jedi", "Open Sans", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
  }
  .animate-loader {
    animation: 2.5s linear 0s infinite normal none running;
  }
}
